{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "http": {
      "commandName": "Project",
      "environmentVariables": {
        "MAGAZINE_DB": "Host=localhost;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;Database=magazines",
        "MAGAZINE_IMAGE_ROOT": "/path/to/your/magazine/images"
      }
    },
    "https": {
      "commandName": "Project",
      "environmentVariables": {
        "MAGAZINE_DB": "Host=localhost;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;Database=magazines",
        "MAGAZINE_IMAGE_ROOT": "/path/to/your/magazine/images"
      }
    },
    "IIS Express": {
      "commandName": "IISExpress",
      "environmentVariables": {
        "MAGAZINE_DB": "Host=localhost;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;Database=magazines",
        "MAGAZINE_IMAGE_ROOT": "/path/to/your/magazine/images"
      }
    }
  }
}

